<h1>Login to Your Account</h1>

<%= form_with url: '/login', local: true do |form| %>
  <%= form.label :email %>
  <%= form.text_field :email %><br>
  <%= form.label :password %>
  <%= form.password_field :password %><br>
  <%= form.submit "Login" %>
<% end %>
